@import url('../../components/MovieCard/MovieCard.css');
@import url('../../components/MovieList/MovieList.css');

@font-face {
  font-family: 'star wars font';
  src: url(../../assets/starJedi.ttf);
}
@font-face {
  font-family: 'star wars hollow';
  src: url(../../assets/starHollow.ttf);
}
@font-face {
  font-family: 'death star';
  src: url(../../assets/deathStar.otf);
}

.App {
  text-align: center;
  background: var(--red-color);
  margin: 30px auto;
}
h1 {
  color: var(--yellow-color);
  font-family: 'star wars font';
  font-size: 4em;
  margin-top: 0px;
}
